#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-top: 8%;
  padding-left: 20%;
  padding-right: 20%;
}

/* ----------------------------- (GLOBO) ------------------------------------- */
.canvas-container {
  flex: 1;
  min-width: 500px;
  max-width: 600px;
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
}

.canvas-container .map-visible {
  border-radius: 0;
}
/* ----------------------------- (GLOBO) ------------------------------------- */
@media (max-width: 768px) {
  .content {
    gap: 20px;
  }

  .card-container {
    max-width: 90%;
  }

  .canvas-container {
    max-width: 90%;
    height: 250px;
  }

  .Mapa-Container {
    height: 100%;
  }
}

@media (max-width: 480px) {
  .content {
    gap: 15px;
  }

  .canvas-container {
    max-width: 100%;
    height: 200px;
  }

  .Mapa-Container {
    height: 100%;
  }
}
