.card-container {
  flex: 1;
  max-width: 400px;
  min-width: 280px;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  background-color: #0062ff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  color: white;
  margin: 20px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  height: auto;
  overflow: hidden;
}

.card .background-image {
  background-attachment: fixed;
}

.weather-container,
.input-container,
.error {
  position: relative;
  z-index: 2;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input-container input {
  flex: 1;
  height: 50px;
  padding: 0 10px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: #00ff2f;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
  font-size: 0.8rem;
  top: 0;
  background-color: #0062ff;
  color: #00ff2f;
  padding: 0 5px;
  border-radius: 5px;
}

.input-container label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #ffffff;
  background-color: transparent;
  padding: 0 5px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.input-container button {
  background-color: #007bff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.input-container button img {
  width: 20px;
  height: 20px;
}

.input-container button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 10px;
}

.weather-container {
  margin-top: 20px;
}

.location {
  text-align: center;
  margin-bottom: 20px;
}

.location h3 {
  font-size: 20px;
  margin: 10px 0;
}

.flag {
  width: 64px;
  height: 48px;
  object-fit: cover;
  filter: contrast(1.1) brightness(1.1);
}

.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.weather-icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
  filter: contrast(1.5) brightness(1.1);
  margin-right: 15px;
}

.current-weather div {
  text-align: left;
}

.current-weather h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.current-weather p {
  font-size: 16px;
  margin: 0;
}

.weather-details {
  text-align: left;
}

.weather-details p {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.weather-details p i {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .card {
    padding: 15px;
    font-size: 14px;
  }

  .card .background-image {
    background-attachment: scroll;
  }

  .input-container input {
    height: 40px;
    font-size: 14px;
  }

  .input-container button {
    padding: 8px;
  }

  .location h3,
  .current-weather h4,
  .weather-details p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .card {
    font-size: 12px;
  }

  .input-container input,
  .input-container button {
    font-size: 12px;
  }

  .location h3,
  .current-weather h4,
  .weather-details p {
    font-size: 12px;
  }
}
